
body{
    background-color: var(--bs-dark);
    color: var(--bs-body-bg);
}
.title{
    display: flex;
    justify-content: left;
    margin: 4px 10px;
    padding: 5px;
    font-size: 0.8rem;
}
#Graph{
    margin: 1rem 1rem;
    display: grid;
    grid-template-columns: 8rem 8rem 8rem 8rem 8rem 8rem 8rem 8rem 8rem;
}
.hostel-title{
    display: flex;
    justify-content: left;
    margin: 4px 10px;
    padding: 5px;
    font-size: 0.8rem;
}
.hostel-score{
    display: flex;
    justify-content: left;
    margin: 4px 10px;
    background-color: rgb(69, 69, 69);
    padding: 5px;
}