body{
    background-color: var(--bs-dark);
    color: var(--bs-body-bg);
}
#score-cards{
    display: flex;
    gap: 4rem;
}
#titles{
    display: flex;
    flex-direction: column;
}
.box-1{
    background-color: rgb(80, 80, 80);
    border-radius: 2px;
}
#score-card{
    
}
#score-cards h2{
    font-size: 1rem;
    padding: 3px;
}
#score-cards p{
    font-size: 1rem;
    padding: 3px;

}